.vscode/**
.vscode-test/**
out/**
node_modules/**
tools/**
test/**
src/**
**/*.map
**/*.ts
.gitignore
**/tsconfig*.json
**/.eslintrc.json
.husky/
.github/
.editorconfig
.prettierrc
.prettierignore
vsc-extension-quickstart.md
CONTRIBUTING.md
coverconfig.json
