name: CI
on: [push, pull_request]
jobs:
  tests:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        toolchain:
          - { compiler: gcc, version: 11 }
        node-version: [22.x]
      fail-fast: false
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - uses: fortran-lang/setup-fortran@v1
        id: setup-fortran
        with:
          compiler: ${{ matrix.toolchain.compiler }}
          version: ${{ matrix.toolchain.version }}

      - name: Installing Extension
        run: npm ci
      - name: Compile (Development Build)
        run: npm run pretest
      - name: Linting
        run: npm run lint
      - name: Test Syntax Highlighting
        run: npm run test:grammar
      - name: Run Unit and Integration Tests
        if: runner.os == 'Linux'
        run: xvfb-run --auto-servernum npm run coverage
      - name: Run Unit and Integration on Windows
        if: runner.os == 'Windows'
        run: npm run coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
